/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
  line-height: 1.6em;
}

/* Nav Bar */
#navbar {
  background: #333;
  color: #fff;
  overflow: auto;
}

#navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

#navbar ul li {
  padding: 15px;
}

#navbar .current {
  background: #444;
}

#navbar ul li:hover {
  background: #444;
}

#navbar ul li a {
  padding: 15px;
  color: #fff;
  text-decoration: none;
}

form > div:nth-child(even) {
  background: #e4e4e4;
}

.checkbox:hover {
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
}

.checkbox:not(hover) {
  transform: scale(1);
  transition: 0.4s ease-in-out;
}
